.App {
    /* text-align: center; */
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

body li {
    list-style: none;
}

.title {
    color: white !important;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-content {
    margin-top: 50px;
}

.App-header {
    text-align: center;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

ul.platforms-block>li {
    margin-left: -40px;
}

.App-intro {
    font-size: large;
}

.downloads-content {
    text-align: center;
}

.download-item {
    margin-top: 40px;
}

.download-btn {
    color: white !important;
}

@media only screen and (min-width: 767.98px) {
    .platforms-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    .App-intro {
        margin-left: 28em;
        margin-right: 28em;
    }
}

.heading {
    margin: 5px 0 5px;
    line-height: 1.2;
}

.heading img {
    height: 100px;
}

.version {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 1.4rem;
}

.heading span {
    font-weight: 700;
    font-family: "proxima-nova", sans-serif;
}